{% extends 'base.html.twig' %}

{% block body %}
    <script>
        function rangeCheck() {
            var i = document.createElement('input');
            i.setAttribute('type', 'range');

            if(i.type == 'text') {
                document.write('not');
            } else {
                document.write('yes');
            }
        }
    </script>
    <h1>This is my application to crawler</h1>
    <p spellcheck="true">I am working on this</p>

    <section>
        <canvas id="content" width="300" height="300" style="background-color: rebeccapurple"></canvas>
    </section>

    <section>
        <canvas id="game" width="300" height="300" style="background-color: rebeccapurple"></canvas>
    </section>

    <section>
        <article id="range">
            <p>
                <script>
                    rangeCheck();
                </script>
            </p>
        </article>
    </section>

    <section>
        <input type="color">
        <input type="date">
        <input type="datetime">
        <input type="datetime-local">
        <input type="range">
        <input type="week">
        <input type="tel">
    </section>
{% endblock %}

{% block stylesheets %}
    <style ></style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/demo.js') }}"></script>
{% endblock %}